In [23]:
import pandas as pd  
import numpy as np 
import matplotlib.pyplot as plt  
import seaborn as sns  
from datetime import datetime

In [24]:
file_path = "Groceries_dataset.csv"
df = pd.read_csv(file_path)
print(df.head())

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38765 entries, 0 to 38764
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Member_number    38765 non-null  int64
 1   Date             38765 non-null  object
 2   itemDescription  38765 non-null  object
dtypes: int64(1), object(2)
memory usage: 908.7+ KB

In [26]:
df.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [27]:
df.tail()

       Member_number        Date        itemDescription
38760           4471  08-10-2014          sliced cheese
38761           2022  23-02-2014                  candy
38762           1097  16-04-2014               cake bar
38763           1510  03-12-2014  fruit/vegetable juice
38764           1521  26-12-2014               cat food

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38765 entries, 0 to 38764
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Member_number    38765 non-null  int64
 1   Date             38765 non-null  object
 2   itemDescription  38765 non-null  object
dtypes: int64(1), object(2)
memory usage: 908.7+ KB

In [29]:
df.describe()

       Member_number
count   38765.000000
mean     3003.641868
std      1153.611031
min      1000.000000
25%      2002.000000
50%      3005.000000
75%      4007.000000
max      5000.000000

In [30]:
null_values = df.isnull().sum()
print(null_values)

Member_number      0
Date               0
itemDescription    0
dtype: int64

In [44]:
duplicate_rows = df.duplicated().sum()
print("\nNumber of duplicate rows:", duplicate_rows)

Number of duplicate rows: 759

In [46]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [49]:
transactions = df.groupby('Member_number')['itemDescription'].apply(list).tolist()
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df_encoded = pd.DataFrame(te_ary, columns=te.columns_)
frequent_itemsets = apriori(df_encoded, min_support=0.01, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
print( frequent_itemsets)
print( rules)

       support                                           itemsets
0     0.015393                            (Instant food products)
1     0.078502                                         (UHT-milk)
2     0.031042                                    (baking powder)
3     0.119548                                             (beef)
4     0.079785                                          (berries)
...        ...                                                ...
3011  0.011031     (whipped/sour cream, yogurt, whole milk, soda)
3012  0.010518  (whole milk, rolls/buns, other vegetables, bot...
3013  0.013597  (whole milk, rolls/buns, sausage, other vegeta...
3014  0.010005  (whole milk, shopping bags, rolls/buns, other ...
3015  0.013597  (whole milk, soda, rolls/buns, other vegetable...

[3016 rows x 2 columns]
              antecedents                                        consequents  \
0                  (beef)                                         (UHT-milk)
1              (UHT-milk)                                             (beef)
2          (bottled beer)                                         (UHT-milk)
3              (UHT-milk)                                     (bottled beer)
4              (UHT-milk)                                    (bottled water)
...                   ...                                                ...
15255        (whole milk)       (other vegetables, yogurt, rolls/buns, soda)
15256              (soda)  (other vegetables, whole milk, rolls/buns, yog...
15257        (rolls/buns)       (other vegetables, yogurt, whole milk, soda)
15258  (other vegetables)             (yogurt, whole milk, rolls/buns, soda)
15259            (yogurt)   (other vegetables, whole milk, rolls/buns, soda)

       antecedent support  consequent support   support  confidence      lift  \
0                0.119548            0.078502  0.010518    0.087983  1.120775
1                0.078502            0.119548  0.010518    0.133987  1.120775
2                0.158799            0.078502  0.014879    0.093700  1.193597
3                0.078502            0.158799  0.014879    0.189542  1.193597
4                0.078502            0.213699  0.021293    0.271242  1.269268
...                   ...                 ...       ...         ...       ...
15255            0.458184            0.020010  0.013597    0.029675  1.483002
15256            0.313494            0.034377  0.013597    0.043372  1.261658
15257            0.349666            0.027963  0.013597    0.038885  1.390578
15258            0.376603            0.024628  0.013597    0.036104  1.465954
15259            0.282966            0.031811  0.013597    0.048051  1.510499

       representativity  leverage  conviction  zhangs_metric   jaccard  \
0                   1.0  0.001133    1.010396       0.122392  0.056088
1                   1.0  0.001133    1.016672       0.116940  0.056088
2                   1.0  0.002413    1.016769       0.192815  0.066897
3                   1.0  0.002413    1.037933       0.176014  0.066897
4                   1.0  0.004517    1.078960       0.230217  0.078598
...                 ...       ...         ...            ...       ...
15255               1.0  0.004428    1.009961       0.601111  0.029266
15256               1.0  0.002820    1.009403       0.302098  0.040675
15257               1.0  0.003819    1.011364       0.431893  0.037350
15258               1.0  0.004322    1.011905       0.509869  0.035076
15259               1.0  0.004595    1.017059       0.471340  0.045145

       certainty  kulczynski
0       0.010289    0.110985
1       0.016399    0.110985
2       0.016492    0.141621
3       0.036547    0.141621
4       0.073181    0.185441
...          ...         ...
15255   0.009862    0.354581
15256   0.009315    0.219447
15257   0.011236    0.262562
15258   0.011765    0.294093
15259   0.016773    0.237735

[15260 rows x 14 columns]